/* Global styles for the project */
*{
    margin: 0;
    padding: 0;
}
:root{
    --main-text-size: 16px;
}
body{
    font-size: var(--main-text-size);
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
/* Global Styles Ends Here */
/* ----------------------------------------------------------- */
/* Shared Styles Starts Here */


.txt-section-title{
    font-size: 2rem;
    font-weight: 600;
    color: #131313;
}
.txt-section-subtitle{
    font-size: .88rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 0.44rem;
}
.txt-description{
    font-size: 0.68rem;
    font-weight: 400;
    color: #727272;
    line-height: 1.3rem;
    letter-spacing: 0.05rem;
}   
.txt-fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
}
.txt-fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
}
.btn-primary{
    width: 8rem;
    border: none;
    border-radius: 0.41%;
    background-color: #FF900E;
    padding: 0.5rem 1rem;
    font-size: 0.87rem;
    font-weight: 600;
    color: #FFFFFF  ;    
    cursor: pointer;
    margin-top: 2%;
}


/* Shared Styles Ends Here */
/* ----------------------------------------------------------- */
/* Header Styles Starts Here */


.header{
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 2% 0;
}

/* navBar Style */

.header_nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header_nav-list{
    display: flex;
    gap: 70px;
    list-style: none;
}

.header_nav-list li a{
    text-decoration: none;
}


/* Hero Section Style */

.header_text{
    width: 45%;
    margin: 6% auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.header_text h1{
    font-size: 3.3rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
}

/* button style is taken from shared style named .btn-primary */

.header_img{
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

/* Header Styles Ends Here */
/* ----------------------------------------------------------- */
/* Main Section Styles Starts Here */

.main_feature-list, 
.main_feature-filtered{
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.8%;
    margin: 4% auto 6.7%;
    padding: 0 3%;
}

.main_feature-list_img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.main_feature-list_img img{
    width: 15rem;
    border-radius: 5px;
    
}

.main_feature-list_text h2{
    margin-bottom: 1rem;
}
.main_feature-list_text h2 .quick-list{
    color: #727272;
}

.main_feature-list_text h2 .features{
    color: #FF900E;
}

/* features list filtered style */


.main_feature-filtered-text_top h2{
    border-left: .125rem solid #FF900E;
    padding-left: .62rem;
    margin-bottom: 1rem;    
}

.main_feature-filtered-text_top{
    margin-bottom: 1.3rem;
}


.main_feature-filtered-text_bottom 
.first, .second, .third, .fourth{
    padding: 1.3rem;
    margin-bottom: 1rem;
}


.main_feature-filtered_text{
    width: 26rem;
    height: 43.66rem;
    
}

.main_feature-filtered_img{
    width: 35.57rem;
    height: 47rem;
    position: relative;
    
}

.main_feature-filtered_img img{
    width: 31.48rem;
    height: 44rem;
    position: absolute;
    top: 0;
    right:0;
    
}

.main_feature-filtered_img span{
    width: 15rem;
    height: 9rem;
    border-radius: 5px;
    background-color: #FF900E;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;  
    text-align: center; 
}

/* Facts Styles */

.facts, .sponsors{
    width: 75%;
    margin: 0 auto;
}

.facts h2{
    margin-bottom: 1rem;
}

.facts_box{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin: 4.45rem 0 8rem;
}

.facts_box div{
    border: 1px solid #FF900E;
    border-radius: 5px;
    padding: 35px;
}

.facts_box img{
    width: 35px;
    height: 35px;
}
.facts_box h2{
    margin: 10px 0 5px;
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
}

.facts_box p{
    font-size: 0.89rem;
    color: #727272;
}

.txt-center{
    text-align: center;
}

.sponsors h2{
    margin-bottom: 1rem;
}
.sponsors_brand-logo{
    display: flex;
    justify-content: center;
    gap: 6.89rem;
    margin: 2.22rem 0 5.7rem
}

.sponsors_brand-logo img{
    width: 6.89rem;
    height: 2.22rem;
    filter: grayscale(100%)
}

/* Main Section Styles Ends Here */
/* ----------------------------------------------------------- */
/* Footer Styles Starts Here */

.footer p{
    width: 75%;
    height: 4.5rem;
    background-color: #FFF4E7;
    margin: 0 auto 100px;
    text-align: center;
    line-height: 4.5rem;

}



/* Footer Styles Ends Here */